{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>

<div class="home-section">
  <div class="home-name">Hi, I'm Josh</div>
  <div class="home-text">
    <p class="blue-text">A Junior Software Developer</p>
    <div class="blue-rectangle"></div>
  </div>
  <div class="home-links">
    <a class="github-img" target="_blank" href="https://github.com/Josh-Cox">
      <img src="{{ url_for('static', filename='img/github.png') }}" alt="" />
    </a>
    <a
      class="linkedin-img"
      target="_blank"
      href="https://www.linkedin.com/in/josh-cox-bb2874270/"
    >
      <img src="{{ url_for('static', filename='img/linkedin.png') }}" alt="" />
    </a>
  </div>
</div>

<div id="about" class="about-section">
  <div class="about-subsection">
    <div class="cv">
      <a
        class="cv-link"
        href="{{ url_for('static', filename='img/cv.pdf') }}"
        target="_blank"
      >
        <div class="cv-inner">
          <p>CV</p>
          <img
            src="{{ url_for('static', filename='img/open_in_new.png') }}"
            alt=""
          />
        </div>
      </a>
    </div>
    <div class="about-title sub-heading">About Me</div>
    <div class="about-content">
      I am in my 3rd year of a BSc (Hons) Computer Science at the University of
      Exeter. I am a fast learner and have good problem solving skills. In my
      spare time I like to code personal projects, play the guitar, and play
      games. I have achieved a first in most of my modules so far, with my most
      recent being a literature review for my final project, which can be found
      <a
        class="lit-rev"
        href="{{ url_for('static', filename='img/MLChess.pdf') }}"
        target="_blank"
        >here</a
      >
    </div>
  </div>
  <div class="skillset-subsection">
    <div class="skillset-title sub-heading">Skillset</div>
    <div class="skillset-content">
      <img
        class="html"
        src="{{ url_for('static', filename='img/html.png') }}"
        alt=""
      />
      <img
        class="css"
        src="{{ url_for('static', filename='img/css.svg') }}"
        alt=""
      />
      <img
        class="ts"
        src="{{ url_for('static', filename='img/typescript.png') }}"
        alt=""
      />
      <img
        class="py"
        src="{{ url_for('static', filename='img/python.png') }}"
        alt=""
      />
      <img
        class="django"
        src="{{ url_for('static', filename='img/django.png') }}"
        alt=""
      />
      <img
        class="sql"
        src="{{ url_for('static', filename='img/sql.png') }}"
        alt=""
      />
      <img
        class="java"
        src="{{ url_for('static', filename='img/java.png') }}"
        alt=""
      />
      <img
        class="react"
        src="{{ url_for('static', filename='img/react.png') }}"
        alt=""
      />
      <img
        class="tailwind"
        src="{{ url_for('static', filename='img/tailwind.png') }}"
        alt=""
      />
    </div>
  </div>
</div>

<div id="projects" class="project-section">
  <div class="project-title sub-heading">Projects</div>
  <div class="project-divider"></div>
  <div class="project-content">
    <div class="project project-two project-first">
      <div class="details-two project-details">
        <div class="project-title title-two">Sustainable Daily</div>
        <div class="project-details-content">
          <div class="white-two white-box">
            <div class="project-text">
              This was a group project for our course where we had to create a
              web app using python django to gamify being sustainable. We made
              use of agile development and scrum meetings. You can see each
              persons contributions to the project in the "Main Contributions"
              section of the README.
            </div>
          </div>
          <div class="grey-two grey-box"></div>
        </div>
        <div class="technologies-used">
          <p>Python</p>
          <p>Javascript</p>
          <p>HTML/CSS</p>
          <p>Django</p>
        </div>
      </div>

      <div class="project-example">
        <div class="project-img img-two">
          <img
            src="{{ url_for('static', filename='img/sustainable.png') }}"
            alt=""
          />
        </div>
        <div class="links-two project-links">
          <a
            target="_blank"
            href="https://github.com/itselectroz/sustainable-daily/tree/master?tab=readme-ov-file"
            ><img
              src="{{ url_for('static', filename='img/github_outline.png') }}"
              alt=""
          /></a>
        </div>
      </div>
    </div>

    <div class="project project-one">
      <div class="project-example">
        <div class="project-img img-one">
          <img
            src="{{ url_for('static', filename='img/smootie.png') }}"
            alt=""
          />
        </div>
        <div class="links-one project-links">
          <a target="_blank" href="https://github.com/Josh-Cox/Smootie-Website"
            ><img
              src="{{ url_for('static', filename='img/github_outline.png') }}"
              alt=""
          /></a>
          <a target="_blank" href="http://harleyaf.pythonanywhere.com/"
            ><img
              src="{{ url_for('static', filename='img/open_in_new_outline.svg') }}"
              alt=""
          /></a>
        </div>
      </div>

      <div class="project-details">
        <div class="project-title">Smootie</div>
        <div class="project-details-content">
          <div class="white-box">
            <div class="project-text">
              The first website I made was for Smootie, who sell handheld
              blenders to make smoothies. This is an example website of an
              ecommerce site for the brand. I decided not to make use of any
              frameworks such as React or Angular, as to fully understand how
              the structure of creating a website works.<br />
              <br />
            </div>
          </div>
          <div class="grey-box"></div>
        </div>
        <div class="technologies-used">
          <p>Python</p>
          <p>Django</p>
          <p>SQL</p>
          <p>HTML/CSS</p>
          <p>Javascript</p>
        </div>
      </div>
    </div>

    <div class="project project-two">
      <div class="details-two project-details">
        <div class="project-title title-two">Data & Machine Learning</div>
        <div class="project-details-content">
          <div class="white-two white-box">
            <div class="project-text">
              This was a project for my course where I had to use machine
              learning to answer a research question. I used different machine
              learning techniques to analyze a video games sales dataset. You
              can find my presentation, report and notebook in the links below.
            </div>
          </div>
          <div class="grey-two grey-box"></div>
        </div>
        <div class="technologies-used">
          <p>Python</p>
          <p>Jupyter Notebook</p>
          <p>Latex</p>
          <p>Machine Learning</p>
        </div>
      </div>

      <div class="project-example">
        <div class="project-img img-two">
          <img
            src="{{ url_for('static', filename='img/vid_games_example.png') }}"
            alt=""
          />
        </div>
        <div class="links-two project-links">
          <a target="_blank" href="https://github.com/Josh-Cox/ML-Game-Sales"
            ><img
              src="{{ url_for('static', filename='img/github_outline.png') }}"
              alt=""
          /></a>
          <a target="_blank" href="https://youtu.be/kPiN1Kdv4fw"
            ><img
              src="{{ url_for('static', filename='img/open_in_new_outline.svg') }}"
              alt=""
          /></a>
        </div>
      </div>
    </div>

    <div class="project project-three">
      <div class="project-example">
        <div class="img-three project-img">
          <img
            src="{{ url_for('static', filename='img/explore.jpg') }}"
            alt=""
          />
          <img
            src="{{ url_for('static', filename='img/filter.jpg') }}"
            alt=""
          />
          <img src="{{ url_for('static', filename='img/info.jpg') }}" alt="" />
        </div>
        <div class="project-links">
          <a target="_blank" href="https://github.com/Josh-Cox/ExercisesApp"
            ><img
              src="{{ url_for('static', filename='img/github_outline.png') }}"
              alt=""
          /></a>
        </div>
      </div>

      <div class="project-details">
        <div class="project-title">Olympia Fitness</div>
        <div class="project-details-content">
          <div class="white-box">
            <div class="project-text">
              Olympia Fitness is a mobile app designed to search and save
              exercises along with their information. You can filter searches by
              type, muscle and difficulty. This was an individual project made
              for my year 2 coursework. (Not currently on play store)
            </div>
          </div>
          <div class="grey-box"></div>
        </div>
        <div class="technologies-used">
          <p>Java</p>
          <p>Android Studio</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="project project-two">
  <div class="details-two project-details">
    <div class="project-title title-two">Climbing Hangar Dashboard</div>
    <div class="project-details-content">
      <div class="white-two white-box">
        <div class="project-text">
          Me and a friend decided to make a website to show stats about the
          climbing hangar we go to. We take a reading of how many people are in
          the hangar every 30m using an API, and store this. This information is
          displayed in multiple ways across the app. We are still working on
          this project.
        </div>
      </div>
      <div class="grey-two grey-box"></div>
    </div>
    <div class="technologies-used">
      <p>React</p>
      <p>Typescript</p>
      <p>Tailwind</p>
      <p>HTML/CSS</p>
    </div>
  </div>

  <div class="project-example">
    <div class="project-img img-two">
      <img
        src="{{ url_for('static', filename='img/hangar-dashboard.png') }}"
        alt=""
      />
    </div>
    <div class="links-two project-links">
      <a
        target="_blank"
        href="https://github.com/itselectroz/climbing-hangar-dashboard"
        ><img
          src="{{ url_for('static', filename='img/github_outline.png') }}"
          alt=""
      /></a>
      <a target="_blank" href="https://climbing-hangar-dashboard.web.app/"
        ><img
          src="{{ url_for('static', filename='img/open_in_new_outline.svg') }}"
          alt=""
      /></a>
    </div>
  </div>
</div>

<div id="contact" class="contact-section">
  <div class="contact-container">
    <div class="contact-title sub-heading">Contact Me</div>
    <div class="contact-text">I'd love to hear from you!</div>

    {% for message in get_flashed_messages() %} {% if success %}
    <div class="flash flash-success">{{ message }}</div>
    {% else %}
    <div class="flash flash-failure">{{ message }}</div>
    {% endif %} {% endfor %}

    <form class="contact-form" action="{{ url_for('home') }}" method="post">
      {{ form.hidden_tag() }} {{ form.name(class="text-input contact-name") }}
      {{ form.email(class="text-input contact-email") }} {{
      form.message(class="text-input contact-message") }}
      <div class="bottom-form">
        <div class="call">Or give me a call - 07938864084</div>
        {{ form.submit(class="contact-submit") }}
      </div>
    </form>
  </div>
</div>

{% if scroll %}
<script>
  // scroll to bottom of page
  window.scrollTo(0, document.body.scrollHeight);
</script>
{% endif %}

<div id="to_top" class="back-top"><a href="#top">Back to the top!</a></div>
{% endblock %}
